*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body{
    background-color: #433D8B;

}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    height: 400px;
    border-radius: 5px;
}
.form input{
    border: 1px solid rgba(80, 80, 80, 0.4);
    box-shadow: 1px 1px 2px rgba(80, 80, 80, 0.4);
    transform: translateY(50px);
    display: block;
    margin: 15px auto 0px auto;
    height: 30px;
    width: 80%;
    border-radius: 2px;
    text-align: center;
}
input:focus{
    outline: none;
}
.form input[type="submit"]{
    margin-top: 30px;
    background: #433D8B;
    width: 77%;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
::placeholder{
    position: relative;
    left: 20px;
    text-align: justify;
}
.title{
    transform: translate(30px,40px);
}
.title p{
    color:#433D8B ;
    font-size: 1.5rem;
    font-weight: 700;
}